.smallTime{
    color: black;
    padding:0;
    font-size:10;
}
.agendaHeader{
    background-color: #cccccc;
    color:black;
    font-weight:bold;
    padding:0;
    margin-top:5;
}
.agendaTitle{
    font-size:14;
    margin:6;
    color: black;
}
.agendaEmployee {
    font-size:10;
    margin:0;
    color: black;
}
.agendaTimeCell{
    width:65;
    border-right: solid 2px black;
}
.forgotPasswordButton{
    font-size:12;
    color: white;
    text-decoration:underline;
}