.smallTime{
    color: black;
    padding:0;
    font-size:10;
}
.agendaHeader{
    background-color: #0d82db;
    color:#ffffff;
    font-weight:bold;
    padding: 0 5;
    margin-top:5;
}
.agendaTitle{
    font-size:14;
    margin:6;
    color: black;
}
.agendaEmployee {
    font-size:10;
    margin:0;
    color: black;
}
.agendaTimeCell{
    width:65;
    margin-left:5;
    margin-top:4;
    border-right: solid 2px black;
}
.forgotPasswordButton{
    font-size:12;
    color: white;
    text-decoration:underline;
}
.separator{
    height: 1;
    background-color:#808080;
}
.fieldLabel{
    font-size:12;
    color:#808080;
}
.fieldTextValue{
    font-size:16;
    color:#000000;
}
.fieldPicker {
    font-size: 14;
    color: #000000;
    overflow: scroll;
}
.appointmentHeader{
    margin-left: 10;
}